mixin topic_form(title, description, disabled, submit, submit_class)
  form.form-horizontal(method='post')
    .form-group
      .col-md-8.col-md-offset-2
        input#title.form-control.input-lg(type='text', name='title', placeholder='Topic Title', value=title, disabled=disabled)
    .form-group
      .col-md-8.col-md-offset-2
        textarea#description.form-control(rows='3', name='description', placeholder='Description...', disabled=disabled)
          = description
    .form-group
      .col-md-8.col-md-offset-2
        button#submit.btn.btn-lg(type='submit', class=submit_class)= submit
