extends _layout
include _topic
include _pager

block variables
  - page_title = 'Discussed'
  - page_active = 'discussed'

block scripts
  script(src='/js/topics.js')

block content
  .page-header
    h1 Discussed
  if topics.length
    each topic in topics
      +topic(topic)
    if pages > 1
      +pager('/discussed', page, pages)
  else
    .alert.alert-warning
      strong There's nothing here!
      = ' Discuss some '
      a.alert-link(href='/') topics
      = ' first.'
