extends _layout
include _topic-form

block variables
  - page_title = 'Edit Topic'
  - page_active = 'mine'

block scripts
  script(src='/js/topics.js')

block content
  .page-header
    h1 Edit Topic
      a.btn.btn-default.pull-right(href='/mine')
        i.fa.fa-caret-left
        = ' My Topics'

  +topic_form(topic.title, topic.description, false, 'Edit', 'btn-warning')
