extends _base

block body
  .jumbotron
    .container
      h1 Discohands
      p Democratically choose topics to discuss.
      p
        button#signin.btn.btn-primary.btn-lg(type='button')
          i.fa.fa-sign-in
          = ' Sign in'
