extends _base

block body
  .jumbotron
    .container
      h1 Discohands
      p Democratically choose topics to discuss.
      p
        a#signin.btn.btn-primary.btn-lg(href='#')
          i.fa.fa-google
          = ' Sign in with Google'
