extends _base

block body
  .jumbotron
    .container
      h1 Discohands
      p Democratically choose topics to discuss.
      p
        a.btn.btn-primary.btn-lg(href='/auth/google')
          i.fa.fa-sign-in
          = ' Sign in with Google'
