extends _layout
include _topic-form

block variables
  - page_title = 'New Topic'
  - page_active = 'topics'

block scripts
  script(src='/js/topics.js')

block content
  .page-header
    h1 New Topic
      a.btn.btn-default.pull-right(href='/')
        i.fa.fa-caret-left
        = ' Topics'

  +topic_form('', '', false, 'Create', 'btn-primary')
