extends _layout
include _topic
include _pager

block variables
  - page_title = 'Topics'
  - page_active = 'topics'

block scripts
  script(src='/js/topics.js')

block content
  .page-header
    h1 Topics
      a.btn.btn-success.pull-right(href='/topics/new')
        i.fa.fa-plus
        = ' New Topic'
  if topics.length
    - var minimum_votes_met = false;
    each topic in topics
      if (topic.score < minimum_votes && !minimum_votes_met)
        - minimum_votes_met = true;
        #splitter More votes needed
      +topic(topic)

    if pages > 1
      +pager('/topics', page, pages)
      
  else
    .alert.alert-warning
      strong There's nothing here!
      = ' Add some '
      a.alert-link(href='/topics/new') topics
      = ' first.'
