extends _layout
include _topic
include _pager

block variables
  - page_title = 'Topics'
  - page_active = 'topics'

block scripts
  script(src='/js/topics.js')

block content
  .page-header
    h1 Topics
      a.btn.btn-success.pull-right(href='/topics/new')
        i.fa.fa-plus
        = ' New Topic'
  if topics.length
    each topic in topics
      +topic(topic)
    if pages > 1
      +pager('/topics', page, pages)
  else
    .alert.alert-warning
      strong There's nothing here!
      = ' Add some '
      a.alert-link(href='/topics/new') topics
      = ' first.'
