extends _layout

block variables
  - page_title = 'Topics'
  - page_active = 'topics'

block content
  h1 Topics
    .pull-right
      a.btn.btn-success(href='/topics/new')
        i.fa.fa-plus
        = ' New Topic'
