extends _base

block variables
  - page_title = 'Unauthorized'

block body
  .container
    p
    .alert.alert-danger
      b Unauthorized!
      = ' '
      | You are not authorized to access this. Try
      = ' '
      a#signin.alert-link(href='/') signing in
      | .
