extends _base

block body
  .container
    p
    .panel.panel-danger
      .panel-heading Unauthorized
      .panel-body
        .alert.alert-danger
          b Sorry,
          = ' '
          | you are not authorized to access this.
